* {
	margin: 0; 
	padding: 0;
}

body {
	background-image: url("bg.png");
	font-family: Tahoma;
}

.frame{
	background-color: rgba(0,128,0,0.4);
	
	/* put css-rules in this ccs-block here below */
	width: 621px;
	height: 721px;
	margin: 0 auto;
	padding-top: 20px;
}

h1 {
	background-color: rgba(0,32,0,0.4);
	line-height: 40px;
	
	/* put css-rules in this ccs-block here below */
	margin: 0 10px 30px 10px;
	padding: 20px;
	
}

h2 {
	line-height: 30px;
	margin: 10px 10px 0 10px;
	border: 5px solid;
	border-color: rgb(128,0,128);
	
	/* put css-rules in this ccs-block here below */
	padding: 10px 20px;
	
}

p {
	background-color: rgba(256,256,0,0.4);
	line-height: 20px;
	margin: 10px 10px 0 10px;
	padding: 10px;
	
	/* put css-rules in this ccs-block here below */

}
